{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Registrarse</h1>
{{ message | safe }}
<form action="{% url 'client_signup' %}" method="POST">
    {% csrf_token %}

    <label for="clientUsername">Nombre de usuario</label>
    <input id="clientUsername" name="username" type="text" value="{{ username }}">

    <label for="clientPassword">Contraseña</label>
    <input id="clientPassword" name="password" type="password" value="{{ password }}">

    <label for="clientPassword2">Repetir contraseña</label>
    <input id="clientPassword2" name="password2" type="password" value="{{ password2 }}">

    <label for="clientEmail">Dirección email</label>
    <input id="clientEmail" name="email" type="text" value="{{ email }}">

    <label for="clientAddress">Dirección</label>
    <input id="clientAddress" name="address" type="text" value="{{ address }}">

    <button type="submit">Entrar</button>
</form>

{% endblock %}