{% extends "base.html" %}

{% block title %}Reservar vehículo{% endblock %}

{% block content %}

<h1>Reservar vehículo</h1>
<table>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Modelo</th>
        <th scope="col">Número</th>
   </tr>
    <tr>
        <th scope="row">{{ vehicle.id }}</th>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.number }}</td>
    </tr>
    </thead>
    <tbody>
</table>

<h2>Datos de pago</h2>
<form action="{% url 'rent_confirm' vehicle_id rent_begin rent_end %}" method="POST">
    {% csrf_token %}

    <label for="payAccount">Número de cuenta</label>
    <input id="payAccount" name="payAccount" type="text">

    <button type="submit">Confirmar alquiler</button>
</form>

{% endblock %}